* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/998c1c50-6aaa-4795-ab62-9190a025d529/b9883521-f439-4c16-b5eb-b1719e2fece1/ZA-en-20191203-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    /* height: 100%;
    width: 100%; */
  }

#container {
    background-color: rgba(0, 0, 0, 0.4);
    width: 80%;
    color: white;
    margin: 30px 100px ;
    text-align: center;
    padding: 20px;
}

#title {
    text-align: center;
    font-size: 36pt;
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: 3px;
}

#flix {
    color: red;
}

#description {
    font-size: 16pt;
    text-align: center;
    margin-bottom: 15px;
}

#survey-form {
    text-align: left;
    width: 45%;
    height: auto; 
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    padding: 30px;
}

.box {
    width: 90%;
    height: 40px;
    padding: 0px 10px;
    box-sizing: content-box;
    margin: 20px 0px;
    display: block;
}

#submit {
    background-color: red;
    color: white;
    padding: 6px;
    border-radius: 50px;
    border: none;
    width: 160px;
    height: 45px;
    margin-left: 150px;
    font-size: larger;
    cursor: pointer;
}

#submit:hover {
    background: white;
    color: red;
}